.red { background-color: red}
.green{background-color: green}
.blue {background-color: blue}
.hero{
font-size: 40px;
}
.creep{
font-size: 35px;
}
.spell{
font-size: 37px;
}
.container{
    padding-top: 20px;
    margin-top: 10px;
    width: 100%;
    float: left;
    border: solid 1px black;
}
.container div{
    display: inline-block;
}